/* src/App.css */

.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .video {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .details {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .details h1 {
    color: #333;
    font-size: 2em;
  }
  
  .details p {
    color: #666;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .details a {
    color: #007bff;
    text-decoration: none;
  }
  
  .education,
  .technical-skills,
  .projects,
  .experience,
  .certifications,
  .contact-me {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .education h1,
  .technical-skills h1,
  .projects h1,
  .experience h1,
  .certifications h1,
  .contact-me h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .education p,
  .technical-skills p,
  .projects p,
  .experience p,
  .certifications p,
  .contact-me p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  .certifications ul {
    list-style-type: none;
    padding: 0;
  }
  
  .certifications li {
    margin-bottom: 10px;
  }
  
  .certifications a {
    color: #007bff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .home {
      padding: 10px;
    }
  
    .details,
    .education,
    .technical-skills,
    .projects,
    .experience,
    .certifications,
    .contact-me {
      padding: 10px;
      font-size: 0.9em;
    }
  }
  